{% extends 'snekbook/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title%}{{snake.common_name | lower}}{% endblock %}

{% block content %}
<div class="container container-body">
  <div class="row align-items-center">
    <div class="col-lg-4 col-md-12 col-sm-12 container-body" style="text-align: center">
      <img class="profile" src="{% static snake.img_norm %}" alt="" style="height:250px;width:250px;display:inline-block">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <table class="table table-dark" style="text-align:center">
        <thead>
          <tr>
            <th>Scientific</th>
            <th>Common</th>
            <th>🐍</th>
          </tr>
        </thead>
        <tbody>
          <tr valign="middle">
            <td>{{snake.genus}} {{snake.species}}</td>
            <td>{{snake.common_name}}</td>
          <td><span class="badge badge-pill badge-primary">Likes: {{likes}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container-body">
    {% if comments %}
    <table class="table" style="margin-top:30px">
      <col width="20%">
      <col width="80%">
      <tbody>
        {% for comment in comments %}
        <tr>
          <td><a href="{% url 'profile' comment.author.id %}">{{comment.author}}</a></td>
          <td>{{comment.text}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <br>
    {% endif %}
    {% if user.is_authenticated %}
    <form method="post" id="comment_form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field | add_class:'form-control'}}
        </div>
        {% if field.errors %}
        <div class="alert alert-warning">
            <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
      {% endfor %}
    </form>
    <form action="{% url 'like' snake.id %}" method="post" id="like_form">
      {% csrf_token %}
      <input type="hidden" name="next" value="{% url 'detail' snake.id %}">
    </form>
    <a class="btn btn-light" href="javascript:{}" onclick="document.getElementById('comment_form').submit(); return false;">comment</a>
    <a class="btn btn-primary" href="javascript:{}" onclick="document.getElementById('like_form').submit(); return false;">like</a>
  {% else %}
  please <a href="{% url 'login' %}">login</a> to post comments
  {% endif %}
  </div>
  <div class="container-body">
    <div class="card">
        <h6 class="card-header">similar sneks</h6>
        <div class="card-body sneklist">
          <div class="text-center">
            {% for recommended_snake in recommended_snakes %}
            <a class="badge badge-pill badge-primary" href="{% url 'detail' recommended_snake.id %}" class="card-text">{{recommended_snake.common_name}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}