{% extends 'snekbook/base.html' %}
{% load static %}
{% block title%}home{% endblock %}
{% block content%}
<div class="container container-body">
  <div class="row justify-content-md-center">
    <div class="col-lg-8 col-sm-12">
      <div class="jumbotron">
        {% if user.is_authenticated %}
        <h1>Welcome, {{user.username}}</h1>
        <hr><br>
        <a class="btn btn-primary" href="{% url 'list' 0 %}">Go like some sneken</a>
        {% else %}
        <h1>What are you waiting for?</h1>
        <hr>
        <h4>get you a good snake!</h4>
        <br>
        <a class="btn btn-primary" href="{% url 'login' %}">log in</a><a class="btn btn-link" href="{% url 'signup' %}">register</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}