{% extends 'snekbook/base.html' %}
{% load static %}
{% block title%}home{% endblock %}
{% block content%}
<div class="container" style="margin-top:150px;">
  <div class="row">
    <div class="col-4">
      <img class="profile" src="{% static 'snekbook/snek_friend.jpg' %}" alt="">
    </div>
    <div class="col-8">
      <div class="jumbotron">
        <h1>What are you waiting for?</h1>
        <hr>
        <h4>get you a good snake!</h4>
        <div style="margin-top:50px">
          {% if user.is_authenticated %}
          <a class="btn btn-primary" href="{% url 'list' 0 %}">Go like some sneken</a>
          {% else %}
          <a class="btn btn-primary" href="{% url 'login' %}">log in</a><a class="btn btn-link" href="{% url 'signup' %}">register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}