{% extends 'snekbook/base.html' %}
{% load static %}
{% block title%}sneks{% endblock %}

{% block content %}

{% for snake_group in snake_groups %}
<div class="card-deck">
  {% for snake in snake_group %}
  <div class="card" style="margin: 25px;">
    <img src="https://apprecs.org/ios/images/app-icons/256/ea/356781290.jpg" class="card-img-top">
    <div class="card-body">
      <p class="card-text">
        <a href="{% url 'detail' snake.id %}" class="text-muted">{{snake.common_name}}</a>
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if cursor_left_enabled %} disabled{% endif %}">
      <a class="page-link" href="{% url 'list' cursor_left %}">Previous</a>
    </li>
    <li class="page-item{% if not cursor_right_enabled %} disabled{% endif %}">
      <a class="page-link" href="{% url 'list' cursor_right %}">Next</a>
    </li>
  </ul>
</nav>
{% endblock %}