{% extends 'snekbook/base.html' %}
{% load static %}
{% block title%}sneks{% endblock %}

{% block content %}
<div class="container container-body">
  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for snake in snakes %}
    <div class="card" style="margin: 5px;">
      <img src="https://apprecs.org/ios/images/app-icons/256/ea/356781290.jpg" class="card-img-top" width="40px" hieght="40px">
      <div class="card-body">
        <p class="card-text">
          <a href="{% url 'detail' snake.id %}" class="text-muted">{{snake.common_name}}</a>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
  <nav aria-label="Page navigation example" style="margin-top: 15px">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if cursor_left_enabled %} disabled{% endif %}">
        <a class="page-link" href="{% url 'list' cursor_left %}">Previous</a>
      </li>
      <li class="page-item{% if not cursor_right_enabled %} disabled{% endif %}">
        <a class="page-link" href="{% url 'list' cursor_right %}">Next</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}