{% extends 'snekbook/base.html' %}
{% load static %}
{% block title%}{{thisuser.username | lower}}{% endblock %}

{% block content %}
<div class="container container-body">
  <h3>my sneks</h3>
  <hr>
  {% if snakes %}
  <table id="profile-table" class="table table-borderless table-striped table-wrapper">
    <tbody>
      {% for snake in snakes %}
      <tr>
        <td>
            <img class="profile" src="{% static snake.img_thumb %}" alt="" style="height:35px;width:35px;display:inline-block">
        </td>
        <td>
          <a href="{% url 'detail' snake.id %}">{{snake.genus}} {{snake.species}} ({{snake.common_name}})</a>
        </td>
        <td>
          <form action="{% url 'unlike' snake.id %}" method="POST" style="text-align: center">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'profile' request.user.id %}">
            <button type="submit" class="btn btn-link"><i class="fa fa-trash"></i></button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-info">
      <span>you havent liked any sneks yet.</span>
      <a href="{% url 'list' 0 %}">lets fix that!</a>
  </div>
  {% endif %}
</div>
{% endblock %}